.fontColor {
    color: #000000;
  }
  
  body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 0.5cm;
    background-color:rgb(250, 132, 152);
  }
  
  
  h1{
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Kanit', sans-serif;
    font-size: 34px;
  }